.required {
    color: red;
}
.errorMsg {
    color: red;
}

.label-text {
    color: #183084;
    font-weight: bold !important;
    font-size: 0.8rem;
}

.MuiTableSortLabel-root.MuiTableSortLabel-active,
.MuiTableSortLabel-root:hover,
.MuiTableSortLabel-icon {
    color: inherit !important;
}

.modify-dialog-content {
    padding: 0.3rem 0.5rem 0.5rem 0.5rem !important;
}

.modify-dialog-content-paper {
    padding: 0.25rem 1rem !important;
}

.modify-dialog-actions {
    margin: 0.5rem 1rem !important;
}
.view-params-comments-list-comment {
    font-size: 0.8rem !important;
    line-height: 1.2 !important;
}
.view-params-comments-list {
    max-height: 4.9rem;
    overflow: auto;
}
.other-config-view-params-accordian .MuiAccordionSummary-root.Mui-expanded {
    max-height: 30px !important;
    min-height: 30px !important;
    font-weight: 600;
}
.other-config-view-params-accordian .MuiAccordionSummary-root {
    max-height: 30px !important;
    min-height: 30px !important;
    font-weight: 600;
}
.other-config-view-params-accordian .MuiAccordionSummary-content.Mui-expanded {
    margin: 10px 0 !important;
}
.numericInput {
    text-align: end !important;
}
.future-date-text {
    /*color: green !important;*/
    /*font-weight: 500 !important;*/

    color: #183084;
    font-weight: bold !important;
    font-size: 0.8rem;
}
.past-date-text-editable {
    color: gray !important;
}
.past-date-text-non-editable {
    color: silver !important;
}
