body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: "Aptos";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7ebf0 !important;
  font-size: 0.8rem;
}

@font-face {
  font-family: "Aptos";
  src: local("Aptos"), url("./assets/fonts/aptos/aptos.ttf") format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.clickable-active-text {
  cursor: pointer;
  color: #183084 !important;
  font-weight: bold;
  text-decoration: underline;
}

.clickable-inactive-text {
  cursor: pointer;
  color: silver !important;
  font-weight: bold;
  text-decoration: underline;
}
